@using AeroSpace.Models
@model Persona

@{ ViewBag.Title = "Detalles de Personal"; }

<h2> @ViewBag.Title </h2>
<hr /> <br />

<div class="row">
    <div class="col-md-3"> @Html.DisplayNameFor(model => model.IdPersona): </div>
    <div class="col-md-9"> @Html.DisplayFor(model => model.IdPersona) </div>
</div>

<div class="row">
    <div class="col-md-3"> @Html.DisplayNameFor(model => model.CedulaPersona): </div>
    <div class="col-md-9"> @Html.DisplayFor(model => model.CedulaPersona) </div>
</div>

<div class="row">
    <div class="col-md-3"> @Html.DisplayNameFor(model => model.NombrePersona): </div>
    <div class="col-md-9"> @Html.DisplayFor(model => model.NombrePersona) </div>
</div>

<div class="row">
    <div class="col-md-3"> @Html.DisplayNameFor(model => model.CargoPersona): </div>
    <div class="col-md-9"> @Html.DisplayFor(model => model.CargoPersona) </div>
</div>

<div class="row">
    <div class="col-md-3"> @Html.DisplayNameFor(model => model.EstadoPersona): </div>
    <div class="col-md-9">
        @if (Model.EstadoPersona == 1)
        {
            <span class="text-success fw-bolder"> Personal Activo </span>
        } else
        {
            <span class="text-danger fw-bolder"> Personal Inactivo </span>
        }
    </div>
</div>
<br /> <hr /> <br />
<div id="form_creation">
    <div id="form_creation" class="btn-group">
        <span class="btn btn-warning"> @Html.ActionLink("Editar Registro", "Edit", new { id = Model.IdPersona })</span>
        <span class="btn btn-info"> @Html.ActionLink("Relación de Personal", "Index")</span>
    </div>
</div>