@model List<Vuelo>
@{ ViewBag.Title = "Lista de Vuelos"; }
<div class="row">
    <div class="col-md-9">
        <h2> @ViewBag.Title </h2>
    </div>
    <div class="col-md-3 mt-1">
        <a style="float: right;" class="btn btn-success" href="Vuelo/Create"> Agenda de Vuelos </a>
    </div>
</div>
<hr />
<table class="table table-sm table-striped table-hover table-light">
    <thead>
        <tr>
            <th> Id Vuelo </th>
            <th> Avion </th>
            <th> Fecha </th>
            <th> Hora </th>
            <th> Tipo de Vuelo </th>
            <th class="text-end"> Acci&oacute;n </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="id_link"> @Html.ActionLink(item.IdVuelo + "", "Details", new { id = item.IdVuelo } ) </td>
                <td>
                    @if (item.Avion is not null)
                        @item.Avion.Siglas
                </td>
                <td> @item.Fecha </td>
                <td> @item.Hora </td>
                <td> @item.TipoVuelo </td>
                <td id="btn_link">
                    <div style="float: right;" class="btn-group">
                        <span class="btn btn-sm btn-success"> @Html.ActionLink("Editar", "Edit", new { id = item.IdVuelo }) </span>
                        <span class="btn btn-sm btn-info"> @Html.ActionLink("Detalles", "Details", new { id = item.IdVuelo }) </span>
                        <span class="btn btn-sm btn-danger"> @Html.ActionLink("Eliminar", "Delete", new { id = item.IdVuelo }, new { onclick="return confirm('Seguro? Se eliminara el registro');"}) </span>
                    </div>
                </td>
            </tr> 
        }
    </tbody>
</table>