@model List<Hangar>
@{ ViewBag.Title = "Hangares"; }

    <div class="row">
        <div class="col-md-9">
            <h2> Relaci&oacute;n de Hangares </h2>
        </div>
        <div class="col-md-3 mt-1">
            <a style="float: right;" class="btn btn-success" href="Hangar/Create"> Agregar Hangar </a>
        </div>
    </div>
    <hr />
    <table class="table table-sm table-striped table-hover table-light">
        <thead>
            <tr>
                <th> Id Hangar </th>
                <th class="text-end"> Costo por Hora </th>
                <th> Capacidad Hangar </th>
                <th> Propietario </th>
                <th class="text-end"> Acci&oacute;n </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               <tr>
                   <td id="id_link"> @Html.ActionLink(item.IdHangar + "", "Details", new { id = item.IdHangar } ) </td>
                   <td class="text-end fw-bold"> @item.CostoHora.ToString("0,0.00") </td>
                   <td> @item.CapacidadHangar </td>
                   <td>
                        @if (item.Persona is not null)
                            @item.Persona.NombrePersona
                   </td>
                   <td id="btn_link">
                        <div style="float: right;" class="btn-group">
                            <span class="btn btn-sm btn-success"> @Html.ActionLink("Editar", "Edit", new { id = item.IdHangar }) </span>
                            <span class="btn btn-sm btn-info"> @Html.ActionLink("Detalles", "Details", new { id = item.IdHangar }) </span>
                            <span class="btn btn-sm btn-danger"> @Html.ActionLink("Eliminar", "Delete", new { id = item.IdHangar }, new { onclick="return confirm('Seguro? Se eliminara el registro');"}) </span>
                        </div>
                    </td>
                </tr> 
            }
        </tbody>
    </table>